body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}


#header .container {
    display: flex;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-studio { color: var(--NAVY-BLUE, #2E2F42);
    }


.header-logo-color {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
    
}



.header-menu {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.active:after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.header-menu:hover,
.header-menu:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-info-list {
    gap: 40px;
    display: flex;
    align-items: center;
}

.address-info {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info:hover,
.address-info:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;}
    

.section-one-container {
    padding-bottom: 120px;
    padding-top: 188px;
    padding-bottom: 188px;
        }


.section-one-title {
    color: #ffffff;
    max-width: 496px;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button {
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-adwentages {
    padding: 120px 0;
}


.section-advantages-list {
    display: flex;
    gap: 24px;
}


.second-list-item {
    width: calc((100% - 72px) / 4);
       }

       
.section-adwentages-link{
    /* content: "";
    width: 264px;
    border: 1px solid rgba(142, 143, 153, 1);
    background-color: rgba(244, 244, 253, 1); */
    padding: 24px 100px;
} 
.section-advantages-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.advantages-item-name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    }
  


.advantages-item-description {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px
}

.one-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.visible-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
}

.team-list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    gap: 32px;
}

.team-photo {
   }

.team-list-container {
    padding: 32px 0;
}


 .social-link-list {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 8px;
     gap: 24px;}


.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: rgba(244, 244, 253, 1);
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover{background-color: #404bbf;}

.social-link:focus{background-color: #404bbf;}
 
.team-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-bottom: 8px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-list-par{transform: translateY(0%);}

.portfolio-list-item:hover{
box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
       }
        
.portfolio-list-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-list-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-image{
    position: relative;
    overflow: hidden;}


.portfolio-list-par{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

/* .portfolio-list-text:hover{
    transform:translateY(0%);
} */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    
      
}
.footer-one{
    display: flex;
    align-items: baseline;
   }


.footer-container {    
    margin-right: 120px
    }

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: center;
}

.footer-studio {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
     max-width: 264px;
}
.footer-soc-media{
    
}
.footer-text-two{color: var(--WHITE, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;}

.footer-soc-media-list{
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 16px;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    fill: rgba(244, 244, 253, 1);
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.footer-icon:hover{background-color: #31d0aa;
}
.footer-icon:focus{background-color: #31d0aa;}